@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.name {
    color: #1de9b6;
    margin: 20px 20px 0px 25px;
    font-weight: bolder;
    font-size: 1.5rem;
    width: 70%;

}

.navbar {
    font-weight: 900;
    width: 30%;
    /* margin: 20px 10px 0px 5px; */
}

.navbar ul li {
    padding: 20px 20px;
    list-style: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(209, 191, 191);
}

.navbar ul li a:hover {
    color: white;
}

.main {
    margin-top: 55px;
    display: grid;
    justify-content: center;
    /* height: 100vh; */
    align-items: end;
    justify-items: center;
    align-content: space-around;
}

.main1 {
    height: 85vh;
}

.main h1 {
    width: 570px;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

.main p {
    width: 570px;
    margin: 20px 0;
    font-size: 1, 5rem;
    color: #CFD8DC;
    text-align: center;
}

.btn {
    background-color: #1de9b6;
    color: black;
    width: 50%;
    display: inline-block;
    white-space: nowrap;
    padding: 0.55rem 1.5rem;
    border-radius: 10px;
    border: 0px solid transparent;
    box-shadow: 0 8px 16px rgba(29, 233, 182, 0.3);
    text-transform: uppercase;
    font-size: 15px;
}

.sec2 {
    display: block;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */

}

.sec2 h1 {
    width: 570px;
    font-size: 2.3rem;
    font-weight: 900;
    text-align: center;
}

.sec2 p {
    width: 570px;
    margin: 20px 0;
    font-size: 1, 5rem;
    color: #78909C !important;
    text-align: center;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 28px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;

}

.box p {
    text-align: center;
    width: 410px;
    color: #78909C !important;
}

.box h6 {
    font-size: 1.2rem;
    margin: 10px;
}

.box img {
    border-radius: 18px;

}

.slider {
    position: relative;
    width: 500px;
    margin-left: 6rem;
}

.slider img {
    position: absolute;
    top: 8px;
    left: 18px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 425px;

}

.slider img.active {
    opacity: 1;
}

.dots {
    position: absolute;
    bottom: 300px;
    left: 45%;
    transform: translateX(-50%);
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
}

.dot.active {
    background-color: #555;
}

.sec2 p {
    text-align: left;
    /* width: 410px; */
    /* color: #78909C !important; */
}

.btn2 {
    border: 2px solid #ECEFF1;
    background-color: #ECEFF1;
    color: black;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    box-shadow: 0 8px 16px rgba(236, 239, 241, 0.3);
    margin-bottom: 20px;
    transition: all .2s ease-out;
    cursor: pointer;
    font-weight: 500;
}

.btn2:hover {
    box-shadow: 0 8px 16px #CFD8DC;
    margin-bottom: 20px;
    transition: all .2s ease-out;
    cursor: pointer;
    font-weight: 500;
    background-color: #CFD8DC;

}

.secondHalf {
    display: flex;
    margin-top: 6rem;
}

.sec2 h3 {
    width: 570px;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
}

.priceSec {
    height: 100vh;
    width: 100vw;
}

.heading h4 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.heading h1 {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.price-table{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    width: min(1600px,100%);
    margin-top: 4rem
}
.price-card ul li{
    background-color: #263238;
    list-style: none;
    margin-bottom: 0;
    margin-bottom: 25px;
    /* margin-top: -20px;   */
}
.price-table ul{
    text-align: center;
    background-color: #263238;
    margin-top: 2rem;
    margin: 2rem;
    font-size: 17px;
}
.price{
    background-color: #263238;
    text-align: center;
    color: #1de9b6 !important;
    font-size: 2.5rem;
    font-weight: 600;
}
.price-card-header{
    /* color: #263238; */
    margin: 2rem;
    background-color: #263238;
    text-align: center;
    font-size: 1.3rem;
}
.price-card{
        background-color: #263238;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #263238;
    width: 350px;
    height: 600px;
       

}
.text-muted{
    color: #78909C !important;
    margin-top: -20px;
    font-weight: 500;
    font-size: 1rem;
}
.price-table{
    padding: 2.25rem 2rem;
}
.btn-sm{
    color: black;
    border: 2px solid #1de9b6;
    background-color: #1de9b6;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease-out;
    box-shadow: 0 8px 16px rgba(29, 233, 182, 0.3);
    cursor: pointer;
}
.btn-sm:hover{
    color: white;
}
