@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.name {
    color: #1de9b6;
    margin: 20px 20px 0px 25px;
    font-weight: bolder;
    font-size: 1.5rem;
    width: 70%;

}

.navbar {
    font-weight: 900;
    width: 30%;
    /* margin: 20px 10px 0px 5px; */
}

.navbar ul li {
    padding: 20px 20px;
    list-style: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(209, 191, 191);
}

.navbar ul li a:hover {
    color: white;
}

.main {
    margin-top: 55px;
    display: grid;
    justify-content: center;
    /* height: 100vh; */
    align-items: end;
    justify-items: center;
    align-content: space-around;
}

.main1 {
    height: 85vh;
}

.main h1 {
    width: 570px;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

.main p {
    width: 570px;
    margin: 20px 0;
    font-size: 1, 5rem;
    color: #CFD8DC;
    text-align: center;
}

.btn {
    background-color: #1de9b6;
    color: black;
    width: 50%;
    display: inline-block;
    white-space: nowrap;
    padding: 0.55rem 1.5rem;
    border-radius: 10px;
    border: 0px solid transparent;
    box-shadow: 0 8px 16px rgba(29, 233, 182, 0.3);
    text-transform: uppercase;
    font-size: 15px;
}

.sec2 {
    display: block;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */

}

.sec2 h1 {
    width: 570px;
    font-size: 2.3rem;
    font-weight: 900;
    text-align: center;
}

.sec2 p {
    width: 570px;
    margin: 20px 0;
    font-size: 1, 5rem;
    color: #78909C !important;
    text-align: center;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 28px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;

}

.box p {
    text-align: center;
    width: 410px;
    color: #78909C !important;
}

.box h6 {
    font-size: 1.2rem;
    margin: 10px;
}

.box img {
    border-radius: 18px;

}

.slider {
    position: relative;
    width: 500px;
    margin-left: 6rem;
}

.slider img {
    position: absolute;
    top: 8px;
    left: 18px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    width: 425px;

}

.slider img.active {
    opacity: 1;
}

.dots {
    position: absolute;
    bottom: 300px;
    left: 45%;
    transform: translateX(-50%);
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
}

.dot.active {
    background-color: #555;
}

.sec2 p {
    text-align: left;
    /* width: 410px; */
    /* color: #78909C !important; */
}

.btn2 {
    border: 2px solid #ECEFF1;
    background-color: #ECEFF1;
    color: black;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    box-shadow: 0 8px 16px rgba(236, 239, 241, 0.3);
    margin-bottom: 20px;
    transition: all .2s ease-out;
    cursor: pointer;
    font-weight: 500;
}

.btn2:hover {
    box-shadow: 0 8px 16px #CFD8DC;
    margin-bottom: 20px;
    transition: all .2s ease-out;
    cursor: pointer;
    font-weight: 500;
    background-color: #CFD8DC;

}

.secondHalf {
    display: flex;
    margin-top: 6rem;
}

.sec2 h3 {
    width: 570px;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: left;
}

.priceSec {
    height: 100vh;
    width: 100%;
    margin-top: 9rem;
}

.heading h4 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.heading h1 {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.price-table {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    width: min(1600px, 100%);
    margin-top: 4rem
}

.price-card ul li {
    background-color: #263238;
    list-style: none;
    margin-bottom: 0;
    margin-bottom: 25px;
    /* margin-top: -20px;   */
}

.price-table ul {
    text-align: center;
    background-color: #263238;
    margin-top: 2rem;
    margin: 2rem;
    font-size: 17px;
}

.price {
    background-color: #263238;
    text-align: center;
    color: #1de9b6 !important;
    font-size: 2.5rem;
    font-weight: 600;
}

.price-card-header {
    /* color: #263238; */
    margin: 2rem;
    background-color: #263238;
    text-align: center;
    font-size: 1.3rem;
}

.price-card {
    background-color: #263238;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #263238;
    width: 350px;
    height: 600px;


}

.text-muted {
    color: #78909C !important;
    margin-top: -20px;
    font-weight: 500;
    font-size: 1rem;
}

.price-table {
    padding: 2.25rem 2rem;
}

.btn-sm {
    color: black;
    border: 2px solid #1de9b6;
    background-color: #1de9b6;
    border-radius: 5px;
    padding: 12px;
    width: 150px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s ease-out;
    box-shadow: 0 8px 16px rgba(29, 233, 182, 0.3);
    cursor: pointer;
}

.btn-sm:hover {
    color: white;
}

.feature-list li:before {
    position: relative;
    font-family: FontAwesome !important;
    font-size: 14px;
    content: "\f10c";
    color: #1de9b6;
    margin: 0 0.75rem 0 0;
}

.header {
    font-size: 1.2rem;
    /* text-align: center; */
    text-align: left;

}

.para {
    font-size: 1.2rem;
    text-align: left;
    width: 400px;
    margin-top: 1.2rem;
    font-weight: 500;
    color: #CFD8DC;
}

.fer {
    display: flex;
    margin-top: 30rem;
    justify-content: space-around;
    margin-bottom: 8rem;
}

.rightBox {
    display: block;
    width: 50%;
    padding: 10px;
    /* top: -219px; */
    position: relative;
    bottom: 0px;
}

.feature-list li {
    float: left;
    list-style: none;
    width: 50%;
    margin-bottom: 1.75rem;
    font-size: 1.05rem;
    padding-left: 1.75rem;
    font-weight: 500;
    list-style: none;
}

.try {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.try h3 {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 3rem;
}

.try p {
    color: #78909C;
    margin: 1.5rem;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.divider {
    border-top: 1px solid #263238;
    width: 100%;
    margin: 20px 240px;
}

.faq {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ctop {
    margin: 9rem 0 20px 0;
}

.ctop h2 {
    font-size: 2.3rem;
    font-weight: 900;
    text-align: center;
}

.ctop p {
    color: #CFD8DC;
    margin: 10px;
    text-align: left;
    width: 100%;
}

.comn-que p {
    color: #CFD8DC;
    /* width: 200%; */
    font-size: 15px;
}

.row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 100px;
    /* grid-row-gap: 10px; */
}

.row1 {
    grid-area: 1 / 1 / 2 / 2;
}

.row2 {
    grid-area: 2 / 1 / 3 / 2;
}

.row3 {
    grid-area: 3 / 1 / 4 / 2;
}

.row4 {
    grid-area: 1 / 2 / 2 / 3;
}

.row5 {
    grid-area: 2 / 2 / 3 / 3;
}

.row6 {
    grid-area: 3 / 2 / 4 / 3;
}

.grid {
    width: 500px;
    margin: 20px 20px;
}

.grid h6 {
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.grid p {
    color: #CFD8DC;
    font-size: 15px;
    font-weight: 400;
}

.a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.a h4 {
    font-size: 1.3rem;
    margin: 20px;

}

.new-heading {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.new-heading h1 {
    font-size: 2.4rem;
    margin: 10px;
    font-weight: 900;

}

.blogs{
    display: flex;
  

}
.new-heading p {
    color: #CFD8DC;
    font-size: 19px;
    font-weight: 300;
}
.blog{
    /* border: 2px solid red; */
    border-radius: 8px;
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 400px; */
    margin: 30px;
    height: 410px;
}
.blog img{
   width: 100%;
border-radius: 5px;
}
.blog h4{
    font-size: 1.3rem;
    padding: 10px;
    background-color: #263238;
    margin-top: -7px;
}
.blog .date{
    color: #CFD8DC;
    padding-left: 10px;
    font-size: 12px;
    background-color: #263238;
}
.p{
    font-size: 1.01rem;
    padding-left: 10px;
    background-color: #263238;
    padding-top: 5px;
    border-radius: 5px;
    color: #b8b8b8;
    padding-bottom: 15px;
}
.blog a{
    background-color: #263238;
    color: #1de9b6;
    text-decoration: none;
    font-size: 16px;
}
.button{
    display: flex;
    justify-content: center;
    margin: 8rem;
}


.footer{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    height: 100%;
}
.lftfooter{
    position: relative;
    left: 100px;
    width: 500px;
}
.lftfooter h2{
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}
.lftfooter p{
    font-size: 14px;
    color: #78909C !important;
    text-align: left;
    margin: 20px 0;
}
.rghtfooter{
    display: flex;
    position: relative;
    left: 250px;
    width: 60%;
}
.ftrow{
    margin: 0 25px;
}
.ftrow h4{
    font-weight: 500;
}
.ftrow p{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 14px;
}
.center p{
    text-align: center;
    margin: 4rem;
    color: #78909C !important;
    font-size: 90%;
}